body{
	background-image: url(http://eskipaper.com/images/cloud-background-7.jpg);
}

hr {
	border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(245, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* LOGO CGI*/

.logo{
	margin-top: 20px;
	width : 60%;
	float: left;
}

/* TITLE NIKO NIKO*/

.title{
	font-family: 'Gloria Hallelujah', cursive;
	text-decoration: underline;
	text-align: center;
	font-size: 30px;
	color: #cc1e1e;
	margin-top: 40px;
}

/* BUTTONS HEAD */

.logout{
	margin-top: 30px;
	height: 30px;
	width: 100px;
	font-size: 10px;
}

.password{
	margin-bottom: 5px;
	height: 30px;
	font-size: 10px;
	width: 100px;
}

.vote{
	margin-top: 5px;
	height: 30px;
	font-size: 10px;
	margin-bottom: 5px;
	width: 100px;
}

/* WELCOME */

.welcome{
	text-decoration: underline;
	text-align: center;

}

.align{
	text-align: right;
}

/* FOOTER */

.copyright{
	margin-top: 20px;
	background-color: #cc1e1e;
	color : white;
	border-radius: 3px;
}

/* TEXT */

.text{
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

/* GRAPH */

.piechart{
    margin: 0 auto;
    display: block;
}

/* BUTTON GRAPHS */

.alignleft{
    text-align: left;
}

.myresults{
    height: 30px;
    width: 100px;
    font-size: 10px;
}

.allresults{
    height: 30px;
    width: 100px;
    font-size: 10px;
}

.resultsverticale{
    height: 30px;
    width: 100px;
    font-size: 10px;
}

.resultsteam{
    height: 30px;
    width: 100px;
    font-size: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.daysNames {
    background-color : #cc1e1e;
    color : white;
    text-align : center;
    font-size : 18px;
}

.dayHeader {
    background-color : yellow;
    text-align : center;
    font-weight : bold;
    font-size : 16px;
    margin-bottom : 5px;
}
.month_year {
	color : black;
	font-weight : bold;
}
.date_buttons {
	text-align : center;
	font-size : 30px;
}
.previous_button {
	padding-right : 50px;
}
.next_button {
	padding-left : 50px;
}
.emptyDay {
	background-color : grey ;
}
.fillableDay {
	margin : -10px;
	height : 150px;
	width : 90px;
	background-color : white;
}
.daynikos{
	align : center;
	width : 100%;
}
.daynikos img{
	width : 40%;
	cursor : pointer;
}
.nikoPastille {
	width : 45%;
	font-size : 20px;
	font-weight : bold;
}
